<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlDeLecura.Properties.Settings.conexion" connectionString="Data Source=DESKTOP-9D15DOU\LEONEL;Initial Catalog=BDCLIENTES;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="PracticaEvaluada.Properties.Settings.conexion" connectionString="Data Source=DESKTOP-9D15DOU\LEONEL;Initial Catalog=RESTAURANTE;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
